*.pyc
*__pycache__*
db.sqlite3
.vscode/
staticfiles/
media/
.env
venv/
node_modules/
git_install/
push_git.js
git_check.txt
push_output.txt
push_error.txt
git_portable.exe
push_git.js
